<!DOCTYPE html>

<html lang="en" ng-app='dhcp'>

<head>
	
	<title>ISC DHCP Configurator</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" media="all">
	<link href="stylesheet.css" rel="stylesheet" media="all">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
	<script src="manager.js"></script>
	
</head>

<body ng-controller="ManagerController">
	
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">DHCP Configurator</a>
		<ul class="nav"></ul>
	</div>
</div>

<div class="content">
	
<fieldset>
	
	<legend>
		<span class="float-right"><button type="button" class="btn btn-primary btn-small" ng-click="openNewFileModal()">Create new file</button></span>
		Configuration files
	</legend>
	
	<table class="table table-striped" ng-show="showFileList">

		<thead>
			<tr>
				<th>Label</th>
				<th>Subnet</th>
				<th>Netmask</th>
				<th>Last updated</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="file in fileList">
				<td><input type="text" ng-model="file.label"></td>
				<td><input type="text" ng-model="file.subnet"></td>
				<td><input type="text" ng-model="file.netmask"></td>
				<td>{{file.updated*1000|date:'medium'}}</td>
				<td class="text-center">
					<button class="btn btn-mini" ng-click="loadFile($index)">Load</button>
					<button class="btn btn-mini btn-danger" ng-click="deleteFile($index)">Delete</button>
				</td>
			</tr>
		</tbody>

	</table>
	
	<div class="modal hide" id="newFileModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4>Create new configuration file</h4>
		</div>
		<div class="modal-body">
			<div class="control-group {{newFile.labelValid}}">
				<div class="controls">
					<label for="newFileLabel">Label for new file</label>
					<input class="hasPopover" type="text" id="newFileLabel" ng-model="newFile.label" data-toggle="popover" data-content="Please specify a label for the new file" data-placement="right" data-trigger="manual">
				</div>
			</div>
			<div class="control-group {{newFile.subnetValid}}">
				<div class="controls">
					<label for="newFileSubnet">Subnet</label>
					<input class="hasPopover" type="text" id="newFileSubnet" ng-model="newFile.subnet" data-toggle="popover" data-content="Please specify a subnet, e.g. 192.168.0.1" data-placement="right" data-trigger="manual">
				</div>
			</div>
			<div class="control-group {{newFile.netmaskValid}}">
				<div class="controls">
					<label for="newFileNetmask">Netmask</label>
					<input class="hasPopover" type="text" id="newFileNetmask" ng-model="newFile.netmask" data-toggle="popover" data-content="Please specify a netmask, e.g. 255.255.255.0" data-placement="right" data-trigger="manual">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary" ng-click="createNewFile()">Create file</a>
		</div>
	</div>

</fieldset>
	
<fieldset>
	
	<legend>
		<span ng-show="loadedFile" class="float-right">
			<button type="button" class="btn btn-primary btn-small" ng-click="generateFile()">Generate</button>
			<button type="button" class="btn btn-primary btn-small" ng-click="saveFile()">Save</button>
		</span>
		{{loadedFile.label}}
	</legend>
	
	<div class="editor" ng-show="loadedFile">
	
		<h4>Parameters</h4>

		<table class="table table-striped">

			<thead>
				<tr>
					<th>Parameter</th>
					<th>Value</th>
					<th>Notes</th>
					<th class="text-center"><button type="button" class="btn btn-mini btn-success" ng-click="newParameter()">Add new</button></th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="parameter in parameters">
					<td><div class="control-group"><div class="controls"><input type="text" ng-model="parameter.param_key" unique></div></div></td>
					<td><input type="text" ng-model="parameter.param_val"></td>
					<td><input type="text" ng-model="parameter.notes"></td>
					<td class="text-center">
						<button class="btn btn-mini btn-danger" ng-click="deleteParameter($index)">Delete</button>
					</td>
				</tr>
			</tbody>

		</table>
		
		<h4>Reservations</h4>
		
		<table class="table table-striped">

			<thead>
				<tr>
					<th>Label</th>
					<th>MAC address</th>
					<th>Reserved IP</th>
					<th class="text-center"><button type="button" class="btn btn-mini btn-success" ng-click="newReservation()">Add new</button></th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="reservation in reservations">
					<td><div class="control-group"><div class="controls"><input type="text" ng-model="reservation.label" unique></div></div></td>
					<td><div class="control-group"><div class="controls"><input type="text" ng-model="reservation.mac_address" unique></div></div></td>
					<td><div class="control-group"><div class="controls"><input type="text" ng-model="reservation.ip_address" unique></div></div></td>
					<td class="text-center">
						<button class="btn btn-mini btn-danger" ng-click="deleteReservation($index)">Delete</button>
					</td>
				</tr>
			</tbody>

		</table>
	
	</div>
	
</fieldset>

</div>
	
</body>

</html>
