/**
 * Client side stylesheet.
 * 
 * @package	isc-dhcp-configurator
 * @author	SBF
 * @version	1.00
 */

root { 
	display: block;
}

.content {
	margin: 20px;
}

H1, H2, H3, H4, H5, H6 {
	font-weight: normal;
}

.float-right {
	float: right;
}

.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

TABLE INPUT {
	margin-bottom: 0px !important;
}